
* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  margin: 0px;
  text-align: center;
  text-overflow: hidden;
}


body {

  background: rgb(12, 13, 31);
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  margin: 40px 0;
}

p {
  font-size: 1.5rem;
  margin: 40px 0;
}

.container {
  margin: 0 auto;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.row {
  display: flex;
  justify-content: center;
}

.header {
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  text-align: center;
  color: white;
}

.titles {
  padding-bottom: 20px;
  margin: 40px 0 ;
  flex-basis: 100%;
}

.profile-picture {
  max-width: 300px;
  max-height: 300px;
  border: 10px solid white;
  border-radius: 50%;
  flex-basis: 100%;
  margin: 30px;

}

.navigation-buttons {
  flex-basis: 100%;
}



.nav-anchor {
  text-align: center;
  text-decoration: none;
  appearance: button;
  width: 100%;
  border: none;
  color: white;
  font-size: 2rem;
  background: rgb(93, 23, 23);
  padding: 15px 45px;
  transition: background 0.5s ease;
}

.nav-anchor:hover {
  background:rgb(225, 65, 65);
}

.about {
  flex-basis: 100%;
  background: rgb(243, 243, 243);
  color: rgb(15, 15, 15);
  padding: 20px 0;
  border-top: 2px solid rgb(190, 190, 190);
  border-bottom: 2px solid rgb(190, 190, 190);
}

.technologies {
  background: white;
  flex-wrap: wrap;

}

.tech-img-container {
  display: flex;
  justify-content: space-evenly;
}

.tech-img {

  width: calc(100% / 5);
  transition: transform 0.5s ease;
  min-width: 200px;
}

.tech-img:hover {
  transform: scale(1.1);
}

.tech-text {
  margin: 40px 0 ;
  font-size: 1.5rem;
}

.projects {
  border-top: 2px solid rgb(190, 190, 190);
  border-bottom: 2px solid rgb(190, 190, 190);
  background:rgb(243, 243, 243);
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 40px;
}

.project-item-container {
  background: rgb(223, 223, 223);
  flex-basis: calc(100%/3.5);
  padding: 30px;
  transition: transform 0.5s ease;
  border: 3px solid gray;
  border-radius: 20px;
  margin: 20px;
}

.project-item-container:hover {
  transform: scale(1.1);
}

.contact {
  width: 100%;
  background:white;
  flex-wrap: wrap;
}

@media screen and (max-width: 1074px) {

.container {
  width: 100%;
}

  .navigation-buttons {
    flex-wrap: wrap;
  }

  .nav-anchor {
    flex-basis: 50%;
  }

}

@media screen and (max-width: 768px) {

  h1 {
  font-size: 3rem;
}

  .navigation-buttons {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .nav-anchor {
    flex-basis: 100%;
  }

  .tech-img {
  min-width: 100px;
}

.project-item-container {
  flex-basis: 100%;
}

.project-item-container:hover {
  transform: scale(1.05);
}
}
