

.section-title {
  margin: 10px 0;
  border-bottom: 2px solid rgb(207, 207, 207);
}

.header {
  background: rgb(88, 88, 88);
  color: white;
  padding: 20px;
}

.navigation {
  align-items: baseline;
}

.navigation > a {
  position: relative;
  flex-basis: 25%;
  padding: 8px 10px;
  width: 100%;
  background: rgb(202, 27, 27);
  color: white;
  text-decoration: none;
}

.about,
.technologies {
  margin: 20px 0;
}

.lrg-img {
  width: 100%;
  height: 200px;
  background: url(photos/Placeholder.png);
  background-repeat: no-repeat;
  background-size: 100% 200px;
}
