/* Will clean up later */
* {
  box-sizing: border-box;
}
html {
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0px;
  background-image: url(photos/Graveyard_OverlaybackgroundMore_night.png);
  background-size: cover;
  background-attachment: fixed;
}

h4 {
  margin: 0px;
}

h1,
h2 {
  margin: 0;
}

a {
    width: calc(100% / 4);
    text-decoration: none;
}

button {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  font-size: 16pt;
  width:100%;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background: rgb(117, 13, 13);
  border:none;
  /* border-left: 5px solid rgb(34, 12, 12);
  border-right: 5px solid rgb(34, 12, 12); */
  text-decoration: none;
}

button:hover {
  padding-top: 15px;
  padding-bottom: 15px;
  background: rgb(112, 11, 11);
  box-shadow: inset 0 0 15px #00000046;
  text-shadow: 0px 0px 10px rgb(73, 11, 11);
  border: 5px solid rgb(190, 67, 67);
}


p {
  text-align: center;
  width: 100%;
}

.white-text {
  color: snow;
}

.about {
  background: rgb(117, 13, 13);
  background-size: cover;
  background-attachment: fixed;
  color: snow;
}

.technologies {
  background: rgb(245, 245, 245);
  background-size: cover;
  background-attachment: fixed;
  color: rgb(83, 15, 15);
}

#projects {
  background-color: rgb(117, 13, 13);
  color: snow;
}

.contact {
  background: rgb(245, 245, 245);
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-20 {
  padding-bottom: 20px;
}

.p-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.plr-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.navigation-buttons {
  background:rgb(34, 12, 12);
  margin: 0;
  border-top: 3px solid rgb(34, 12, 12);
  border-bottom: 3px solid rgb(34, 12, 12);
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.text-align-center {
  text-align: center;
}

.header {
  /* background-image: url(photos/Graveyard\ OverlaybackgroundMore\ night.png);
  background-size: cover;
  background-attachment: fixed; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  /* padding-left: 100px;
  padding-right: 100px; */
}

.row {
  width: 100%;
}

.profile-picture {
  width: 200px;
  border: 10px solid white;
  border-radius: 50%;
  justify-content: center;
  margin-top: 50px;
}

.name {
  color: snow;
  font-size: 42pt;
  margin: 0;
}

.subtitle {
  color: rgb(221, 221, 221);
  font-size: 18pt;
  font-weight: 500;
  margin: 0;
}

.test-grad {
  background: linear-gradient(rgba(0, 0, 0, 0), black);
}

.tech-img {
  width: auto;
  height: 200px;
  margin: 0;
}

.project-img {
  width: 100%;
  margin: 0;
  background: linear-gradient(rgba(255, 255, 255, 0),white);

}

.project-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.561);
  box-sizing: border-box;
  width: calc(100% / 3 );
  max-width: 350px;
  margin: 10px;
}

.project-text {
  background: rgb(255, 255, 255);
  color:black;
  padding: 20px;
  width: 100%;
  margin:0;
}

.project-container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.561);
}

.col-8 {
  width:100%;
}

.test {
}
